.dnd-library-wrapper .editor-item .meta.type-iframe {
    background-image: url('icons/iframe.png');
}

.scald-menu .add-buttons .add-iframe {
    background: url('icons/iframe-large-inverted.png') 50% 50% no-repeat;
    margin-top: 10px;
}

.scald-menu .add-buttons .add-iframe:hover {
    background: url('icons/iframe-large.png') 50% 50% no-repeat;
}

.scald-iframe-wrapper {
    position: relative;
}

.iframe-wrapper {
    position: relative;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
